.product_quantity_btn {
  display: flex;
  .quantity_btn {
    border-radius: 50%;
    width:35px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondaryColor;
    background-color: $offWhiteColor;
    border: none;
    svg{
      font-size:18px;
    }
  }
  .product_quantity {
    border-radius: 50%;
    width:35px;
    height:35px;
    color: $secondaryColor;
    background-color: $primaryColor;
    font-size:18px;
    margin: 0px $spacing-4;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
