@import "../../../abstracts/_abstract-dir";

.footer__container {
  font-family: $font-family;
  letter-spacing: $letter-spacing;
  margin: $spacing-32 0;
 @include sm{
  padding: 1rem 1.5rem;
 }
 @include lg{
  margin: $spacing-16 0;
 }

  hr {
    color: $offWhiteColor;
  }
  .social__media__wrapper {
    display: flex;
    justify-content: space-between;
    color: $offWhiteColor;
    p 
    {
      @include sm {
        display: none;
      }
     
    }
    .social__media__icons {
      display: flex;
      gap: 20px;
      align-items: center;
      color: $offWhiteColor;
      @include sm {
       gap:10px;
       margin:auto;

      }
    }
  }
  .footer__menu__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    .footer__menu__header {
      max-width: 40%;
      @include sm{
        max-width: 100%;
        }
        @include md{
          max-width: 100%;
          }
      @include lg{
      max-width: 100%;
      }
      h3 {
        color: $tertiaryColor;
        font-weight: $bold;
        font-size: $primaryFont;
        @include sm {
          text-align: center;
        }
        @include md {
          text-align: center;
        }
        @include lg {
          text-align: center;
        }
      }
      p
       {
        margin-top: $spacing-32;
        color: $offWhiteColor;
        @include sm {
          margin-top: $spacing-8;
        }
        @include lg{
          margin-top:16px;
        }
      }
    }
    .footer__menu {
      h3 {
        color: $tertiaryColor;
        font-weight: $bold;
        font-size: $primaryFont;
      }
      ul {
        margin-top: $spacing-32;
        padding: 0px;
        font-family: $font-family;
        letter-spacing: $letter-spacing;
        @include sm {
          margin-top: $spacing-8;
          margin-bottom: $spacing-16;
        }
        @include lg{
          margin-top:16px;
        }
        li {
          list-style: none;
          margin: $spacing-16 0;
          @include sm {
            margin: $spacing-8 0;
          }
          a {
            text-decoration: none;
            color: $offWhiteColor;
            font-size: $primaryColor;
            display: flex;
            gap:5px;
          }
        }
      }
    }
  }
  .copyright__date__wrapper {
    text-align: center;
    p {
      font-size: $normalFont;
      font-weight: $bold;
      a {
        text-decoration: none;
        color: $offWhiteColor;
      }
    }
  }
}
