.product__card__container {
  width: 300px;
  font-family: $font-family;
  cursor: pointer;
  @mixin sm {
    width: 300px;
  }
  @mixin md {
    width: 300px;
  }
  @mixin lg {
    width: 300px;
  }
  @mixin xlg {
    width: 300px;
  }
  @mixin md {
    width: 300px;
  }
  .product__card__img__container {
    height: 300px;
    width: 300px;
    img {
      height: 100%;
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  .product__card__content {
    padding: 0 5px;
    .product__card__title {
      font-size: $primaryFont;
      color: $offWhiteColor;
      letter-spacing: $letter-spacing;
      margin: $spacing-8 0;
    }
    .product__card__description {
      font-size: $primaryFont;
      color: $tertiaryColor;
      letter-spacing: $letter-spacing;
      margin: $spacing-4 0 $spacing-8;
      font-weight: $bold;
    }
    .product__card__content {
      display: flex;
      justify-content: space-between;
      .product__price__container{
        font-size: $secondaryFont;
        font-weight: $bold;
        color: $tertiaryColor;
        margin: $spacing-4 0;
        span {
          font-size: $normalFont;
          color: $offWhiteColor;
        }
      }
      .price__icon__container {
        color: $primaryColor;
        display: grid;
        grid-template-columns: auto auto;
        gap: 12px;
      }
    }
  }
}
