@import "../../../abstracts/_abstract-dir";

.productCard_container {
  cursor: pointer;
  padding: 0 20px;
  .productCard_img_container {
    text-align: $center !important;
    justify-content:$center !important;
    img {
      height: 250px;
      width: 100%;
      margin:$auto;
      border-radius:$spacing-8;
      object-fit: cover;
      @include sm {
        width: 135px;
        height: 160px;
      }
      @include md {
        height: 180px;
      }
      @include lg {
        height: 200px;
      }
    }
  }
  .product_title {
    font-size: $primaryFont;
    opacity: 40%;
    margin-bottom:$spacing-4 !important;
    @include sm{
      font-size:$normalFont;
    }
    @include md {
      font-size:$normalFont;
    }
  }
  .product_description {
    line-height: 1.2;
    font-weight: bold;
    @include sm{
      font-size:$normalFont;
    }
    @include md {
      font-size:$normalFont;
    }
  }
  .product_price {
    font-size: $normalFont;
    text-align: justify;
    @include sm{
      font-size:10px;
    }
    @include md {
      font-size:12px;
    }
    span {
      font-size:20px;
      font-weight: 500;
      @include sm{
        font-size:14px;
      }
      @include md {
        font-size:13px;
      }
    }
  }
  .product_icon {
    text-align: end;
    color: $primaryColor;
    span {
      margin-left:$spacing-12;
      font-size:18px;
    @include sm{
      font-size: 12px;
      margin-left:$spacing-8;
    }
    @include md{
      font-size: 12px;
      margin-left:$spacing-8;
    }
    }
  }
}
