.colloboration__container {
  .coloboration__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      height: 110px;
      object-fit: cover;
      padding: 0 10px;
      @include sm {
        height: 60px;
      }
      @include md {
        height: 65px;
      }
      @include lg {
        height: 80px;
      }
    }
  }
}
