@import '../../../abstracts/_abstract-dir';

.slider_container {
  padding:0px 136px;
  
  @include sm {
    padding:0px 25px;
  }
  @include md {
    padding:0px 30px;
  }
  @include lg {
    padding:0px 40px;
  }
  .slick-prev,
  .slick-next {
    background: $primaryColor !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50% !important;
  }
  .slick-prev::before,
  .slick-next::before {
    color: $secondaryColor !important;
  }
}
