@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

$font-family: "Quicksand", sans-serif;
$primaryColor: #25d366;
$secondaryColor: #fff;
$tertiaryColor: #000;
$offWhiteColor: #c0bbbb;
$bold: bold;
$auto: auto;
$center: center;
$none: none;
$debug: false;
$normalFont: 14px;
$primaryFont: 16px;
$secondaryFont: 22px;
$tertiaryFont: 32px;
$letter-spacing: 0.5px;
$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-32: 32px;
