.review__btn{
    .review__add__btn{
        padding: 0.5rem 3.5rem;
        color: $primaryColor;
        background: transparent;
        border: 1.5px solid $primaryColor;
        font-size: 16px;
        font-family: $font-family;
        letter-spacing: $letter-spacing;
        cursor: pointer;
        font-weight: $bold;
        display: inline-block;
        @include sm {
          padding: 0.3rem 2rem;
          font-size: 14px;
        }
        &:hover {
          background: $primaryColor;
          border: none;
          color: $secondaryColor;
        }
      }
}