.login__content {
  form {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 4rem 3rem;
    margin: $spacing-32 auto;
    width: 60%;
    @include sm {
      margin: $spacing-16 auto;
      width: 100%;
      padding: 1.5rem;
    }
    @include lg {
      width: 100%;
    }
    .label__input__wrapper {
      margin-bottom: 2rem;
      @include sm {
        margin-bottom: 1rem;
      }
      label {
        font-family: $font-family;
        letter-spacing: $letter-spacing;
        font-weight: $bold;
        margin-bottom: $spacing-12;
        font-size: 16px;
        color: $tertiaryColor;
        @include sm {
          font-size: 14px;
        }
      }
      input {
        padding: 12px;
        border-color: $offWhiteColor;
        @include sm {
          padding: 6px;
        }
        &::placeholder {
          color: $offWhiteColor;
          font-family: $font-family;
          @include sm {
            font-size: 14px;
          }
        }
        &:focus {
          box-shadow: none !important;
          border-color: $offWhiteColor !important;
        }
      }
    }
 

    a {
      text-decoration: none;
      color: $tertiaryColor;
      p {
        font-family: $font-family;
        letter-spacing: $letter-spacing;
        font-weight: $bold;
        font-size: 14px;
        @include sm {
          font-size: 12px;
        }
      }
    }
    .login__btn {
      text-align: center;
      button {
        padding: 0.5rem 3.5rem;
        color: $primaryColor;
        background: transparent;
        border: 1.5px solid $primaryColor;
        font-size: 16px;
        font-family: $font-family;
        letter-spacing: $letter-spacing;
        cursor: pointer;
        font-weight: $bold;
        display: inline-block;
        transition: all 0.3s ease-in;
        @include sm {
          padding: 0.3rem 2rem;
          font-size: 14px;
        }
        &:hover {
          background: $primaryColor;
          border: none;
          color: $secondaryColor;
          transform: scaleX(1.1);
        }
      }
    }
  }
}

