@import "../../abstracts/_abstract-dir";

.title__container {
  text-align: $center;
  text-transform: uppercase;
  padding: $spacing-32 0px;
  font-family: $font-family;
  letter-spacing: $letter-spacing;
  @include sm {
    padding: $spacing-12 0px;
  }
  @include md;
  @include lg {
    padding: $spacing-16 0px;
  }
  p {
    font-size: $secondaryFont;
    font-weight: 600;
    @include sm {
      font-size: $normalFont;
      font-weight: 600;
    }
    @include md{
      font-size: $primaryFont;
      font-weight: 600;
    }
    @include lg {
      font-size: $secondaryFont;
      font-weight: 600;
    }
  }
}
