@import "../../../abstracts/_abstract-dir";

.carousel-item {
  margin-bottom:1rem;
  .carousel-caption {
    @include sm {
      padding-bottom: 0;
    }
    h3 {
      @include sm {
        font-size: $normalFont;
      }
      @include md {
        font-size: $primaryFont;
      }
      @include lg {
        font-size: $secondaryFont;
      }
    }
    p {
      @include sm {
        font-size: $normalFont;
        margin-bottom: 0;
      }
      @include md {
        font-size: $normalFont;
        margin-bottom: 0;
      }
      @include lg {
        font-size: $primaryFont;
      }
    }
  }
}

.carousel-indicators {
  @include sm {
    display: none;
  }
  @include md {
    display: none;
  }
}

.carousel-control-next,
.carousel-control-prev {
  span {
    @include sm {
      width: 1rem;
      height: 1rem;
      font-size: $bold;
    }
  }
}

